:root {
  --sfwindow: #0f0f0f;
}

:root {
  --toolbar-bgcolor: var(--sfsecondary) !important;
  --tabs-border-color: var(--sfsecondary) !important;
  --lwt-sidebar-background-color: var(--sfwindow) !important;
  --lwt-toolbar-field-focus: var(--sfsecondary) !important;
}


#tabbrowser-tabs {
  visibility: collapse !important;
}


.tab-close-button {
  display: none;
}


#unified-extensions-button, #unified-extensions-button > .toolbarbutton-icon{
width: 0px !important;
padding: 0px !important;
}


.bookmark-item .toolbarbutton-icon {
  display: none;
}
toolbarbutton.bookmark-item:not(.subviewbutton) {
  min-width: 1.6em;
}


#PanelUI-button,
#tracking-protection-icon-container,
#star-button-box,
#tabs-newtab-button,
#back-button,
#forward-button,
#pageActionButton,
#pageActionSeparator,
.tab-secondary-label {
  display: none !important;
}

#context-pocket,
#context-print-selection,
#context-openlinkinusercontext-menu,
#context-savelinktopocket,
#context-bookmarklink {
  display: none !important;
}

#urlbar-background,#urlbar {
    border-radius: 6px !important;
}

#urlbar .urlbar-input-box {
   text-align: center;
}


#window, #main-window, #toolbar-menubar, #TabsToolbar, #PersonalToolbar, #navigator-toolbox{
background-color: transparent !important;
-moz-appearance: none !important;
background-image: none !important;
}

.tabbrowser-tab {
  border-radius: 0px !important;
}
tab.tabbrowser-tab:hover > stack > .tab-background {
  border-radius: 0px !important;
}
.tab-background[selected="true"] {
background: rgba(86, 86, 86 ,0.3) !important;
-moz-appearance: none !important;

background-image: none !important;
box-shadow: none !important;
border-radius: 0px !important;
}
